@font-face {
    font-family: 'Pixelated Verdana 12';
    src: url('../fonts/pixelated_verdana_12pt.woff2') format('woff2'),
        url('../fonts/pixelated_verdana_12pt.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pixelated Verdana 12';
    src: url('../fonts/pixelated_verdana_bold_12pt.woff2') format('woff2'),
        url('../fonts/pixelated_verdana_bold_12pt.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pixelated Verdana 10';
    src: url('../fonts/pixelated_verdana_bold_10pt.woff2') format('woff2'),
        url('../fonts/pixelated_verdana_bold_10pt.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Chimboz Heavy';
    src: url('../fonts/chimbozheavy.woff2') format('woff2'),
    url('../fonts/chimbozheavy.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Chimboz Heavy';
    src: url('../fonts/chimbozheavy_bold.woff2') format('woff2'),
    url('../fonts/chimbozheavy_bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jagger SF';
    src: url('../fonts/jagger_sf.woff2') format('woff2'),
    url('../fonts/jagger_sf.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
