:root {
  --cursor-size: 256px;
  --purple: #7050aa;
  --blue: #5c56f5;
  --navbar-size: 90px;
  --navbar-top: 80px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 11px;
  color: #284555;
  background-color: #6090be;
  background-repeat: repeat-x;
  background-attachment: scroll;
  background-image: url(../img/bg_header.gif);
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

::-webkit-scrollbar-track {
  background-color: #d5e6f3;
  border-radius: 100px;
}

::-webkit-scrollbar-corner {
  background: transparent
}

::-webkit-scrollbar-thumb {
  border-radius: 100px;
  border: 4px solid transparent;
  background-clip: content-box;
  background-color: #f0009c;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ff6600;
}

::selection {
  background-color: #fff !important;
  color: #004e84 !important;
}

a {
  text-decoration: none;
  color: #096EA8;
}

a:hover {
  text-decoration: underline;
}

hr {
  border-top: 1px;
  background: linear-gradient(
    to right,
    transparent,
    #a2bdd1 25%,
    #a2bdd1 75%,
    transparent
  );
  border-image: linear-gradient(
      to right,
      transparent,
      #d6e7f3 25%,
      #d6e7f3 75%,
      transparent
    )
    1;
  height: 2px;
}

#app {
  width: 100%;
}

@media (min-width: 800px) {
  #app {
    width: 800px;
    margin: auto;
  }
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #004e84;
}

#loadtime {
  text-align: center;
}
