:root {
  --cursor-size: 256px;
  --purple: #7050aa;
  --blue: #5c56f5;
  --navbar-size: 90px;
  --navbar-top: 80px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 11px;
  color: #284555;
  background-color: #6090be;
  background-repeat: repeat-x;
  background-attachment: scroll;
  background-image: url(../img/bg_header.gif);
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #2c3e50;
  border-radius: 5px;
}

::selection {
  background-color: #fff !important;
  color: #004e84 !important;
}

img {
  image-rendering: pixelated;
}

#app {
  width: 100%;
}

@media (min-width: 800px) {
  #app {
    width: 800px;
    margin: auto;
  }
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #004e84;
}
