@font-face {
  font-family: 'Pixelated Verdana 12';
  src:
    url(@/assets/font/pixelated_verdana_12pt.woff2) format('woff2'),
    url(@/assets/font/pixelated_verdana_12pt.woff) format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  font-smooth: never;
  -webkit-font-smoothing: none;
}

@font-face {
  font-family: 'Pixelated Verdana 12';
  src:
    url(@/assets/font/pixelated_verdana_bold_12pt.woff2) format('woff2'),
    url(@/assets/font/pixelated_verdana_bold_12pt.woff) format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  font-smooth: never;
  -webkit-font-smoothing: none;
}

@font-face {
  font-family: 'Pixelated Verdana 10';
  src:
    url(@/assets/font/pixelated_verdana_bold_10pt.woff2) format('woff2'),
    url(@/assets/font/pixelated_verdana_bold_10pt.woff) format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  font-smooth: never;
  -webkit-font-smoothing: none;
}

@font-face {
  font-family: 'Chimboz Heavy';
  src:
    url(@/assets/font/chimbozheavy.woff2) format('woff2'),
    url(@/assets/font/chimbozheavy.woff) format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Chimboz Heavy';
  src:
    url(@/assets/font/chimbozheavy_bold.woff2) format('woff2'),
    url(@/assets/font/chimbozheavy_bold.woff) format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pixelade';
  src:
    url(@/assets/font/pixelade.woff2) format('woff2'),
    url(@/assets/font/pixelade.woff) format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  font-smooth: never;
  -webkit-font-smoothing: none;
}

@font-face {
  font-family: 'Impact';
  src:
    url(@/assets/font/impact.woff2) format('woff2'),
    url(@/assets/font/impact.woff) format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cocon';
  src:
    url(@/assets/font/cocon.woff2) format('woff2'),
    url(@/assets/font/cocon.woff) format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
