// Reseting margins
* {
  margin: 0;
}

// Fix for focused black lines in Chrome
*:focus {
  outline: none;
}

html {
  font-size: var(--font-size);
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--font-family);
  color: var(--text);
  background-color: var(--main-bg);
  overflow-x: hidden;
}

#body {
  background-repeat: repeat-x;
  background-attachment: scroll;
  background-position-y: -0.8px;
}

// Custom scrollbar (chromium based browsers)
::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  background-color: var(--main-card);
  border-radius: var(--round);
}

::-webkit-scrollbar-corner {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: var(--round);
  border: 4px solid transparent;
  background-clip: content-box;
  background-color: var(--pink);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--orange);
}

// Custom selection
::selection {
  background-color: var(--orange);
  color: var(--light);
  text-shadow: 1px 0 0 var(--dark-orange), -1px 0 0 var(--dark-orange),
    0 1px 0 var(--dark-orange), 0 -1px 0 var(--dark-orange),
    0.7px 0.7px var(--dark-orange), -0.7px -0.7px 0 var(--dark-orange),
    0.7px -0.7px 0 var(--dark-orange), -0.7px 0.7px 0 var(--dark-orange);
}

// Custom select
select option:checked {
  background: var(--pink);
  color: var(--light);
}

// Highlight targeted element
:target,
.target {
  background: var(--light-bbs);
  transition: 0.3s;
}

// Default tags
a {
  text-decoration: none;
  font-weight: bold;
  color: var(--blue);
  cursor: var(--pointer);
}

a:hover {
  text-decoration: underline;
}

button {
  padding: 0;
}

hr {
  border-top: 1px;
  background: linear-gradient(
    to right,
    transparent,
    var(--light-bbs) 25%,
    var(--light-bbs) 75%,
    transparent
  );
  border-image: linear-gradient(
      to right,
      transparent,
      var(--dark-bbs) 25%,
      var(--dark-bbs) 75%,
      transparent
    )
    1;
  height: 2px;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.3rem;
}

img[src*='puce'] {
  width: 17px;
  height: 17px;
}

img[src*='/emoticon/'] {
  object-fit: none;
  height: 28px;
  width: 26px;
  object-position: 60% 85%;
}

img {
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  vertical-align: middle;
}

p {
  padding-bottom: 6px;
}

table {
  table-layout: fixed;
  border-spacing: 0;
}

.bbs {
  overflow: hidden;
}

:not(.markdown-body) > table:not(.bbs) tr:nth-child(odd) {
  background: var(--selected-dark-card);
}

iframe {
  border: 0;
  max-width: 100%;
}

// App width
@media (min-width: 800px) {
  #main {
    width: 800px;
    margin: auto;
  }
}

*:disabled {
  filter: grayscale(1) !important;
  cursor: not-allowed !important;
}

button {
  cursor: var(--pointer);
  background: none;
  border: 0;
}

// Code blocks
pre code.hljs {
  padding: 0 !important;
}

.page-enter-active,
.page-leave-active {
  transition: all 0.1s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}