.font-ch {
  font-family: "Chimboz Heavy";
}

.danger {
  background: #fb0d0d;
  color: #fff;
}

.pink {
  color: #f39;
}

.pink-bg {
  background: #f12490;
}

.blue-bg {
  background: #78aadb;
}

.pointer {
  cursor: pointer;
}

.flex {
  display: flex;
}

.flex.centered {
  align-items: center;
}

.col {
  flex-direction: column;
}

.centered {
  text-align: center;
}

.justified {
  text-align: justify;
}
