.font-ch {
  font-family: "Chimboz Heavy";
}

.danger {
  background: var(--red);
  color: var(--light);
}

.pink {
  color: var(--pink);
}

.pink-bg {
  background: var(--pink);
}

.blue-bg {
  background: var(--main-bg);
}

.pointer {
  cursor: var(--pointer);
}

.flex {
  display: flex;
}

.flex.centered {
  align-items: center;
}

.col {
  flex-direction: column;
}

.centered {
  text-align: center;
}

.justified {
  text-align: justify;
}

.relative {
  position: relative;
}
