// Setting useful variables
:root {
  --main: 0;
  --gap: 2px;
}

// Reseting
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

// Default font and colors
body {
  font-family: Helvetica, "Helvetica Fallback", sans-serif;
  font-weight: normal;
  font-size: 11px;
  color: #284555;
  background-color: #6090be;
  background-repeat: repeat-x;
  background-attachment: scroll;
  background-image: url(../img/navbar/background/9.png);
  background-position: 0 -1px;
  overflow-x: hidden;
}

@for $i from 0 through 23 {
  .h#{$i} {
    background-image: url(../img/navbar/background/#{$i}.png);
  }
}

// Custom scrollbar (chromium based browsers)s
::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

::-webkit-scrollbar-track {
  background-color: #d5e6f3;
  border-radius: 100px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 99px;
  border: 4px solid transparent;
  background-clip: content-box;
  background-color: #f0009c;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #f80;
}

// Custom selection
::selection {
  background-color: #f80;
  color: #fff;
  text-shadow: 1px 0 0 #d15503, -1px 0 0 #d15503, 0 1px 0 #d15503,
    0 -1px 0 #d15503, 0.7px 0.7px #d15503, -0.7px -0.7px 0 #d15503,
    0.7px -0.7px 0 #d15503, -0.7px 0.7px 0 #d15503;
}

// Default tags
a {
  text-decoration: none;
  font-weight: bold;
  color: #096ea8;
}

a:hover {
  text-decoration: underline;
}

hr {
  border-top: 1px;
  background: linear-gradient(
    to right,
    transparent,
    #a2bdd1 25%,
    #a2bdd1 75%,
    transparent
  );
  border-image: linear-gradient(
      to right,
      transparent,
      #d6e7f3 25%,
      #d6e7f3 75%,
      transparent
    )
    1;
  height: 2px;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 14px;
}

img[src*="puce"] {
  height: 17px;
}

img[src*="/emoticon/"] {
  object-fit: none;
  height: 32px;
  width: 32px;
  object-position: 61% 87%;
}

img {
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  vertical-align: middle;
  height: auto;
}

p {
  padding-bottom: 6px;
}

table {
  table-layout: fixed;
  border-spacing: 0;
}

tbody {
  background: #fff;
}

table:not(.bbs) tr:nth-child(2n + 1) {
  background: #004e8422 !important;
}

// App width
@media (min-width: 800px) {
  #app {
    width: 800px;
    margin: auto;
  }
}

*:disabled {
  filter: grayscale(1) !important;
  cursor: not-allowed !important;
}

button {
  cursor: pointer;
  background: none;
  border: 0;
}

// Custom classes
.pink-icon::before {
  content: "";
  position: absolute;
  width: 23.452px;
  height: 23.45px;
  background-image: url(../img/icon/bg_pink.svg);
  background-position: center;
  background-size: cover;
}

.pink-icon img {
  position: relative;
  height: 23.45px;
}

.pink-icon:active::before {
  transform: rotate(180deg);
}

.pink-icon {
  border-radius: 100%;
  border: 2px solid transparent;
  width: 27.452px;
  height: 27.45px;
}

.pink-icon.active {
  border: 2px solid #fff;
}

.hstack {
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: calc(-1 * var(--gap));
  margin-right: calc(-1 * var(--gap));
}

.hstack > * {
  margin-right: var(--gap);
  margin-bottom: var(--gap);
}

.pink {
  color: #ff3399;
}

.pink-bg {
  background: #f12490;
}

.blue-bg {
  background: #78aadb;
}

input:not([type="checkbox"]).btn-md,
textarea.btn-md {
  width: 100%;
  padding: 4px;
}

.btn-md {
  display: inline-flex;
  border: 4px solid #f0009c;
  padding: 0 4px;
  height: 30px;
  min-width: 30px;
  border-radius: 12px 8px;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px #c10276;
}

.btn-md:hover,
.btn-md:active,
input:not([type="checkbox"]).btn-md:focus,
textarea.btn-md:focus {
  border-color: #f80;
  box-shadow: 0 1px #d15503;
}

select.btn-md {
  background: #fff;
}

input:valid:not(:placeholder-shown),
textarea:valid:not(:placeholder-shown) {
  border-color: #5b3;
}

input:invalid:not(:placeholder-shown),
textarea:invalid:not(:placeholder-shown) {
  border-color: #fb0d0d;
}

.btn-sm {
  border-radius: 99px;
  font-weight: bold;
  height: 15px;
  display: inline-flex;
  padding: 0 5px;
  color: #fff;
  align-items: center;
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.card .list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 2px 10px;
}

.card .list:nth-child(2n + 1) {
  background: #a8dfff
    linear-gradient(
      to right,
      #6ebef0a0,
      transparent 10%,
      transparent 90%,
      #6ebef0a0
    );
}

#loadtime {
  text-align: center;
}

.animated {
  will-change: transform;
}

.arrow.green {
  filter: hue-rotate(135deg) saturate(1.5) !important;
}

.jitter {
  transform: rotateZ(-25deg);
}

button:hover .arrow {
  animation: jitter 0.5s forwards;
}

.level {
  background: linear-gradient(
      to right,
      #6ebef0a0,
      transparent 10%,
      transparent 90%,
      #6ebef0a0
    ),
    linear-gradient(
      to bottom,
      #6ebef0 15%,
      #a8dfff 15%,
      #a8dfff 85%,
      #6ebef0 85%
    );
  display: flex;

  justify-content: space-evenly;
  align-items: center;
}

.level .number {
  display: flex;
  border-radius: 12px / 8px;
  padding: 8px;
  font-size: 25px;
  background: linear-gradient(to right, #a8dfff 50%, #a8dfff22);
}

table.bbs {
  width: 100%;
  border-spacing: 0;
  box-shadow: 0 0 3px#000;
  border-radius: 4px;
  background: #c9dfef;
  padding: 6px 0;
}

.bbs > thead > tr > th {
  height: 24px;
  background-image: linear-gradient(
    to bottom,
    #c9dfef 0px,
    #c9dfef 50%,
    #d6e7f3 100%
  );
  border-bottom: 1px solid #a2bdd1;
}

.bbs > colgroup > col:nth-child(3),
.bbs > colgroup > col:nth-child(4),
.bbs > tbody > tr > td:nth-child(3),
.bbs > tbody > tr > td:nth-child(4),
.bbs > thead > tr > th:nth-child(2),
.bbs > thead > tr > th:nth-child(3) {
  display: none;
}

.board > colgroup > tr > col:nth-child(5),
.board > tbody > tr > td:nth-child(5),
.board > thead > tr > th:nth-child(4) {
  display: none;
}

.board > tbody > tr > td:nth-child(4),
.board > thead > tr > th:nth-child(3) {
  display: table-cell !important;
}

.board col:nth-child(4) {
  display: table-column;
}

@media (min-width: 600px) {
  .bbs > tbody > tr > td,
  .bbs > thead > tr > th {
    display: table-cell !important;
  }

  .bbs > colgroup > col {
    display: table-column !important;
  }
}

// Atomic classes
.pointer {
  cursor: pointer;
}

.flex {
  display: flex;
}

.flex.centered {
  align-items: center;
}

.col {
  flex-direction: column;
}

.centered {
  text-align: center;
}

.justified {
  text-align: justify;
}

// Animations
@keyframes jitter {
  0% {
    transform: rotateZ(-25deg);
  }
  10% {
    transform: rotateZ(35deg);
  }
  20% {
    transform: rotateZ(-15deg);
  }
  30% {
    transform: rotateZ(25deg);
  }
  40% {
    transform: rotateZ(-15deg);
  }
  50% {
    transform: rotateZ(15deg);
  }
  60% {
    transform: rotateZ(-15deg);
  }
  70% {
    transform: rotateZ(15deg) scale(1.05);
  }
  80% {
    transform: rotateZ(0deg) scale(1.1);
  }
  90% {
    transform: rotateZ(30deg) scale(1.15);
  }
  100% {
    transform: rotateZ(-30deg) scale(1.15);
  }
}
