:root {
    --ms-gap: 2px;
    --md-gap: 8px;
    --gap: 12px;
    --padding: 20px;
    --margin: 14px;

    --dark: #284555;
    --light: #fff;
    --main-bg: #6090be;
    --text-link: #096ea8;
    --light-blue: #d5e6f3;
    --pink: #f3c;
    --orange: #f80;
    --dark-orange: #d15503;
    --red: #fb0d0d;

    // Couleur BBS
    --gris-triste: #CECECE;
    --gris-divorce: #999;
    --rouge: #f00;
    --chocolat: #CC6600;
    --orange: #f80;
    --jaune: #ff0;
    --vert: #ADE76B;
    --gilvert: #6c0;
    --pelouse: #018352;
    --violet-du-marie: #9412FE;
    --bleu: #376DA8;
    --bleu-chimbo: #6699CC;
    --rose-dupatta: #FE81C0;
    --rose-chimbo: #FF3399;
    --gurujiolet: #E40173;
    --blanc: #fff;
    --noir: #000;

    //yellow card
    --light-card-color: #fff;
    --main-card-color: #fff4d5;
    --dark-card-color: #ddcb9b;
    --shadow-card-color: #5c341f;
    --title-card-color: #726338;
    --title-subtop-color: #963d00;
    --shadow-subtop-color: #a38c47;
    --light-subtop-color: #fff7d7;
    --main-subtop-color: #ffe5a3;
    --dark-subtop-color: #a38c47;

    //blue card
    --light-card-color: #aadcfc;
    --main-card-color: #6ebef0;
    --dark-card-color: #5aa1cd;
    --shadow-card-color: #355668;
    --title-card-color: #096EA8;
    --title-subtop-color: #004b7d;
    --shadow-subtop-color: #1b4166;
    --light-subtop-color: #c4e8ff;
    --main-subtop-color: #99cdef;
    --dark-subtop-color: #628499;

    //lightblue card
    --light-card-color: #aadcfc;
    --main-card-color: #a4c4e3;
    --dark-card-color: #5aa1cd;
    --shadow-card-color: #355668;
    --title-card-color: #096EA8;
    --title-subtop-color: #004b7d;
    --shadow-subtop-color: #1b4166;
    --light-subtop-color: #c4e8ff;
    --main-subtop-color: #99cdef;
    --dark-subtop-color: #628499;

    // red card
    --light-card-color: #ff9e9e;
    --main-card-color: #FF5454;
    --dark-card-color: #e00c0c;
    --shadow-card-color: #5078a0;
    --title-card-color: #096EA8;
    --title-subtop-color: #004b7d;
    --shadow-subtop-color: #1b4166;
    --light-subtop-color: #c4e8ff;
    --main-subtop-color: #99cdef;
    --dark-subtop-color: #628499;

    //default card
    --light-card-color: #f2f8fc;
    --main-card-color: #d5e6f3;
    --dark-card-color: #a5cbe9;
    --shadow-card-color: #18486a;
    --title-card-color: #004e84;
    --title-subtop-color: #004b7d;
    --shadow-subtop-color: #1b4166;
    --light-subtop-color: #c4e8ff;
    --main-subtop-color: #99cdef;
    --dark-subtop-color: #628499;
}